name: Build Vehicle Profiles

on:
  push:
    branches:
      - master
    paths:
      - vehicle_profiles/**

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - run: cd .vehicle_profiles
      - run: npm ci
      - run: npm run build
      - run: cd -
      - name: Commit
        uses: EndBug/add-and-commit@v9
        with:
          add: 'vehicle_profiles.json'
          author_name: Jay Oswald
          author_email: jay@oswald.net.au
          